@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
#test-img-0001 {
    animation: spin 3s infinite;
    margin: 25% 50%;
    @keyframes spin {
        0% {
            transform: rotateZ(0deg) scale(1);
        }
        50% {
            transform: rotateZ(180deg) scale(2)
        }
        100% {
            transform: rotateZ(360deg) scale(1)
        }
    }
}

body,html{
    padding:0;
    margin:0;
    position: relative;
    height:100%;
    width:100%;
    overflow:hidden;
}

body{
    // grid-template-columns: 10% auto;

}

#header{
    background-color: red;
    width:100%;
    height:50px;
}

#side-bar{
    background-color: green;
    height:100%;
    width:10%;
    display: inline-block;
    float:left;
    overflow: hidden;
    
}


#content{
    display: inline-block;
    height:100%;
    max-width:100%;
    min-width:90%;
    

}

.title {
    text-align: center;
    width:25%;
    margin: 0 37.5%;
    padding:5px
}
.title input:read-only{
     color:black;
     text-shadow: 2px 1px 1px rgba(8, 8, 8, 0.324);
     font-size: 1.2rem;
}
.title i{
    font-size: .7rem;
}

.title input::placeholder{
    color:blue;
    text-decoration: underline;
    
}


.title input:read-only::placeholder{
    color:green;
    text-decoration: none;
}


.todo-ele{
    border:1px solid black;
    position: relative;
    box-shadow: 1px 1px 1px black;
    width:100%;
    
    min-width: 120px;
    border-radius: 2px;

}

.todo-ele-wrapper{
    position: relative;
    width:80%;
    margin:10px 10%;
    
}
.todo-ele:hover{
    transform: scale(1.005);
    box-shadow: 2px 2px 8px black;
}

.todo-ele .descr input{
    text-align: left;
    width:90%;
    font-size: .7rem;
}

.todo-name input{
    outline: 0px;
    border: 0px;
    text-align: left;
    font-size: .7rem;
    font-weight: 600;
    height: 20px;
    margin: 0;
    padding: 0;
    padding-top: 2px;
    display: inline-block;
    max-width: 75%;

}
.tg-txt{
    position: relative;
}
.tg-txt i{
    position: absolute;
    right:0;
    top:0;
}
.slide-down{
    transition:height .5s;
  height:50px;
  overflow:hidden;
}
.check{
    float:left;
    color:blue;
}

.bi,.check{
    cursor: pointer;
}


.tg-txt input:read-only{
    cursor:default;
}



.todo-name i{
    font-size: .6rem;
}
.todo-name{
    display: inline-block;
    max-width: 33%;
    overflow: hidden;
}

.title h3 {
    height: 20px;
    margin: 0;
    padding: 0;
}
.tg-txt:after{
    display: inline-block;
    color:red;
}

.title input {
    color: red;
    outline: 0px;
    border: 0px;
    text-align: center;
    font-size: .85rem;
    font-weight: 700;
    max-height: 30px;
    margin: 0;
    padding: 0;
    width: 200px;
    padding-top: 2px;
}
.banner{
    height:10px;
    width:100%;
    background-color: rgb(198, 198, 198);
    margin: 0;
    padding:0;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.controls{
    float: right;
}
.controls > *{
    margin-left:10px;
}

.stats,.controls,.controls >*{
    display: inline-block;
    
}
.stats > *{margin-left:10px;}

.create-new-todo{
    width:33%;
    border:1px solid black;
    margin: 5px 33%;
}
.push-new{
    display: inline-block;
    background-color: rgb(234, 234, 234);
    font-size: .8rem;
    border-radius: 10px;
    margin-left:10px;
    cursor: pointer;
}
.push-new:hover{
    transform: scale(1.005);

}
i.open-form{
    float:right;
    font-size: 1.25rem;
    margin-right:10px;
}
.form-module{
    position: absolute;
    z-index:60;
    width: 100%;
    height:100%;
    background-color: rgba(229, 229, 229, 0.71);
    top:0%;
    left:0%;
}
.form-module .content{
    width:80%;
    height:80%;
    margin: 10% 10%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px black;
    z-index:65;
    position: absolute;
    border-radius: 5px;
    overflow:hidden;
}


.due-date{
    background-color:rgba(4, 255, 29, 0.558);
    border-radius:15px;
    box-shadow: 1px 1px 2px rgba(138, 138, 138, 0.717);
    font-size: .55rem;
    padding:3px;
    user-select: none;
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
}
.due-date:hover{
    background-color:rgb(4, 255, 29);
    transform: scale(1.05);
    
}

.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width:50px;
    background-color: rgba(0, 0, 0, 0.705);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 2px 0;
    top:-20px;
    left:20px;
   
  
    /* Position the tooltip */
    position: absolute;
    
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    font-size: .6rem;
    z-index: 200000;
    opacity:.9;
    transform: scale(1.1);
    position: absolute;

  }
  .stats{
      display: inline-flex;

      align-items: center;
      
  }
  .tooltip:hover{
      text-shadow: 0px 0px 2px rgb(111, 111, 111);
    
  }

  .descr-btn{
  
  }

 


.info-box{
  overflow:hidden;
  width:100%;
  height:0;
  background-color: rgba(236, 236, 236, 0.648);
  border: 1px solid black;
  border-top:0px;
  border-left: 0px;
  border-right: 0px;
  z-index:70;
}

.info-box.new{
    animation: slide-dwn 1s forwards;
}
.info-box.old{
    animation: slide-up 1s forwards;
}

.info-box.new.fast{
    animation: slide-dwn .25s forwards;
}
.info-box.old.fast{
    animation: slide-up .25s forwards;
}

.info-box h3{
    font-size:.7rem;
    margin:0;
    padding:0;
}
.descr-txt{
    font-size: .85rem;
}


@keyframes slide-up {
    0%{
        height:30px;
    }
    100%{
        height:0px;
    }
    
}

@keyframes slide-dwn {
    0%{
        height:0px;
    }
    100%{
        height:30px;
    }
    
}
  .note{
      max-width:50%;
      background-color: rgb(241, 241, 241);
      border-radius: 1px;
      box-shadow: 1px 1px 3px;
      text-align: center;
      position: relative;
      margin: 5px;
      width:25%;
      display: inline-block;
      padding:5px;
      height:fit-content;
      word-wrap: break-word;
  }
  .del-comment{
      float:right;
  }
  .del-comment:hover{
      color:rgba(22, 22, 22, 0.51);
      transform:scale(1.075);
  }
  .comment-input{
      position: absolute;
      bottom:0;
      width:100%;
      
  }
  .comment-input input{
      width:60%
  }

  .comment-section{
      overflow: scroll;
      height:70%;
  }

  .note:hover .comment-time{
      visibility:visible;
      text-shadow: 1px 1px 1px gray;
  }
  .note:hover {
    color:gray
  }
  .note:hover i{
      color:rgb(77, 77, 77);
  }
  .note:hover i:hover{
      color:rgb(0, 0, 0);
  }
  .comment-time{
      visibility: hidden;
      position: absolute;
      right:0;
      font-size: .55rem;
      bottom:-10px;
      color:rgba(28, 100, 255, 0.876);
  }